

.page-item.active .page-link{
    background-color: #6c757d !important;
    border-color: #6c757d  !important;
    color: #fff !important;
}
.page-item .page-link{
    color: #6c757d !important;
    border-color: #6c757d !important;
}



.TextLabel{
    display: none !important;
}
.color .Column.Rectangle,
.color .Column.Circle
{
    display: none;
}


/* classes show or hide das items do plano */


.openings .Door,
.openings .Window{
    stroke: none !important
}
.openings .Door .Panel,
.openings .Window .Panel
{
    display: none !important;
}



.furniture .FixedFurniture.CoatCloset,
.furniture .FixedFurniture.Closet,
.furniture .FixedFurniture.ShowerCab,
.furniture .FixedFurniture.ElectricalAppliance,
.furniture .FixedFurniture.Toilet,
.furniture .FixedFurniture.BaseCabinet,
.furniture .FixedFurniture.Shower,
.furniture .FixedFurniture.Sink,
.furniture .FixedFurniture.WallCabinet,
.furniture .FixedFurniture.DoubleSink,
.furniture .FixedFurniture.FireplaceCorner,
.furniture .FixedFurniture.Fireplace,
.furniture .FixedFurniture.PlaceForFireplace,
.furniture .FixedFurniture.Chimney,
.furniture .FixedFurniture.RoundSink,
.furniture .FixedFurniture.DoubleSinkRight,
.furniture .FixedFurniture.Housing,
.furniture .FixedFurniture.WoodStove,
.furniture .FixedFurniture.SaunaBenchMid,
.furniture .FixedFurniture.SaunaBenchHigh,
.furniture .FixedFurniture.SaunaBenchLow,
.furniture .FixedFurniture.ShowerScreen,
.furniture .FixedFurniture.SaunaBench,
.furniture .FixedFurniture.Jacuzzi,
.furniture .FixedFurniture.CornerSink,
.furniture .FixedFurniture.CoatRack,
.furniture .FixedFurniture.Bathtub,
.furniture .FixedFurniture.FireplaceRound,
.furniture .FixedFurniture.SideSink
{
    display: none;
}




.color .Door {
    fill: darkorange;
}
.color .Window{
    fill: rgb(238, 255, 0);
}
.color .Railing{
    fill: #000000
}
.color .Stairs{
    fill: rgb(255, 102, 0)
}


/* spaces */
.color .Space.Room{
    fill: #1d8309
}
.color .Space.Bath{
    fill: #095c83
}
.color .Space.Entry{
    fill: rgb(0, 255, 213);
}
.color .Space.Entry.Lobby{
    fill: rgb(0, 255, 213);
}
.color .Space.LivingRoom{
    fill: rgb(176, 95, 252);
}
.color .Space.Bedroom{
    fill: rgb(252, 95, 155);
}
.color .Space.Kitchen{
    fill: rgb(95, 252, 103);
}
.color .Space.Garage{
    fill: rgb(141, 45, 90);
}
.color .Space.Storage{
    fill: rgb(184, 252, 95);
}
.color .Space.Outdoor{
    fill: rgb(72, 39, 116);
}
.color .Space.UserDefined{
    fill: rgb(97, 155, 119);
}
.color .Space.DraughtLobby{
    fill: rgb(93, 84, 105);
}
.color .Space.Alcove{
    fill: rgb(49, 192, 73);
}
.color .Space.Utility.Laundry{
    fill: rgb(49, 143, 127);
}
.color .Space.Dining{
    fill: rgb(143, 75, 101);
}
.color .Space.Closet.WalkIn{
    fill: #65945c
}
.color .Space.TechnicalRoom{
    fill: #244b34
}
.color .Space.Den.Fireplace{
    fill: rgb(141, 45, 45);
}
.color .Space.DressingRoom{
    fill: rgb(126, 93, 170);
}
.color .Space.Sauna{
    fill: rgb(190, 50, 50);
}
.color .Space.Office{
    fill: rgb(11, 129, 110);
}
.color .Space.RecreationRoom{
    fill: rgb(101, 211, 169);
}
.color .Space.Bar{
    fill: #58884e
}
.color .Space.Library{
    fill: #5c948b
}
.color .Space.CarPort{
    fill: rgb(141, 45, 90)
}
.color .Space.Undefined{
    fill: rgb(255, 255, 255)
}


/** segmentation */
.segmentation .Space,
.segmentation .Threshold,
.segmentation .Stairs,
.segmentation .Door,
.segmentation .Window{
    stroke: #000 !important;
    fill: #000 !important;
    stroke-width: 2 !important
}
.segmentation .Wall{
    stroke: #000 !important;
    fill: #000 !important;
    stroke-width: 1 !important
}
.segmentation .WalkinLine,
.segmentation .FixedFurniture,
.segmentation .Column.Rectangle,
.segmentation .Column.Circle{
    display: none !important;
}