

.page-item.active .page-link{
    background-color: #6c757d !important;
    border-color: #6c757d  !important;
    color: #fff !important;
}
.page-item .page-link{
    color: #6c757d !important;
    border-color: #6c757d !important;
}



.TextLabel{
    display: none !important;
}
.color .Column.Rectangle,
.color .Column.Circle
{
    display: none;
}


/* classes show or hide das items do plano */


.openings .Door,
.openings .Window{
    stroke: none !important
}
.openings .Door .Panel,
.openings .Window .Panel
{
    display: none !important;
}



.furniture .FixedFurniture.CoatCloset,
.furniture .FixedFurniture.Closet,
.furniture .FixedFurniture.ShowerCab,
.furniture .FixedFurniture.ElectricalAppliance,
.furniture .FixedFurniture.Toilet,
.furniture .FixedFurniture.BaseCabinet,
.furniture .FixedFurniture.Shower,
.furniture .FixedFurniture.Sink,
.furniture .FixedFurniture.WallCabinet,
.furniture .FixedFurniture.DoubleSink,
.furniture .FixedFurniture.FireplaceCorner,
.furniture .FixedFurniture.Fireplace,
.furniture .FixedFurniture.PlaceForFireplace,
.furniture .FixedFurniture.Chimney,
.furniture .FixedFurniture.RoundSink,
.furniture .FixedFurniture.DoubleSinkRight,
.furniture .FixedFurniture.Housing,
.furniture .FixedFurniture.WoodStove,
.furniture .FixedFurniture.SaunaBenchMid,
.furniture .FixedFurniture.SaunaBenchHigh,
.furniture .FixedFurniture.SaunaBenchLow,
.furniture .FixedFurniture.ShowerScreen,
.furniture .FixedFurniture.SaunaBench,
.furniture .FixedFurniture.Jacuzzi,
.furniture .FixedFurniture.CornerSink,
.furniture .FixedFurniture.CoatRack,
.furniture .FixedFurniture.Bathtub,
.furniture .FixedFurniture.FireplaceRound,
.furniture .FixedFurniture.SideSink,
.furniture .FixedFurniture.CounterTop,
.furniture .FixedFurniture.ClosetTriangle
{
    display: none;
}


.color .Railing{    fill: #000000  }
.color .Door {      fill: #4f3bff  }
.color .Window{     fill: #eeff00  }
.color .Stairs{     fill: #4e2a11  }

/* spaces */

.color .Space.Storage{              fill: #ffa095   }
.color .Space.Garage{               fill: #a65628   }
.color .Space.TechnicalRoom{        fill: #ff5e00   }
.color .Space.Office{               fill: #d3a168   }
.color .Space.CarPort{              fill: #c97500   }
.color .Space.Entry{                fill: #cf8c00   }
.color .Space.Entry.Lobby{          fill: #e6ab02   }
.color .Space.Outdoor{              fill: #c09a03   }
.color .Space.DraughtLobby{         fill: #3f5202   }
.color .Space.Bar{                  fill: #66a61e   }
.color .Space.UserDefined{          fill: #1b9e77   }
.color .Space.RecreationRoom{       fill: #70c7b8   }
.color .Space.Library{              fill: #00d2d5   }
.color .Space.Utility.Laundry{      fill: #9dddff   }
.color .Space.Bath{                 fill: #80b1d3   }
.color .Space.Kitchen{              fill: #377eb8   }
.color .Space.Dining{               fill: #5e5fb9   }
.color .Space.LivingRoom{           fill: #aca4df   }
.color .Space.DressingRoom{         fill: #984ea3   }
.color .Space.Closet.WalkIn{        fill: #bc80bd   }
.color .Space.Alcove{               fill: #f781bf   }
.color .Space.Room{                 fill: #fca0cf   }
.color .Space.Bedroom{              fill: #e7298a   }
.color .Space.Sauna{                fill: #aa2753   }
.color .Space.Fireplace{            fill: #9c142b   }

.color .Space.Undefined{            fill: #ffffff   }


/** segmentation */
.segmentation .Space,
.segmentation .Threshold,
.segmentation .Stairs,
.segmentation .Door,
.segmentation .Window{
    stroke: #000 !important;
    fill: #000 !important;
    stroke-width: 2 !important
}
.segmentation .Wall{
    stroke: #000 !important;
    fill: #000 !important;
    stroke-width: 1 !important
}
.segmentation .WalkinLine,
.segmentation .FixedFurniture,
.segmentation .Column.Rectangle,
.segmentation .Column.Circle{
    display: none !important;
}
